/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #75e9f4;
    color: #000000;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgb(228, 240, 159);
    box-shadow: 0 2px 10px rgb(174, 44, 44);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10%;
}

.hero-text h2 {
    font-size: 32px;
}

.hero-text span {
    color: rgb(223, 123, 15);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: rgb(223, 123, 15);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
}

/* Hero Image */
.hero-img img {
    width: 400px;
    border-radius: 70%;
}

/* Sections Title */
.section-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

/* About Section */
.about {
    padding: 50px 10%;
}



/* Skills Section */
.skills {
    padding: 70px 10%;
}

.skill-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.skill-list li {
    list-style: none;
    background: rgb(228, 240, 159);
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Projects Section */
.projects {
    padding: 70px 10%;
}

.project-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.project-card {
    background: rgb(228, 240, 159);
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Contact Section */
.contact {
    padding: 50px 10%;
}

.contact-form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid rgb(223, 123, 15);
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #5b5b67;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
    }
}